.auth-page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(50, 46, 46);
}
.auth-page form {
  border: 1px solid gray;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px 80px;
  padding: 40px 80px;
  align-items: center;
  border-radius: 10px;
  width: 500px;
}
.auth-page form div {
  width: 100%;
}
.auth-page form img {
  width: 100px;
}
.auth-page form span {
  display: block;
}
.auth-page form button {
  background-color: #1d9bf0;
  transition: all ease 0.3s;
}
.auth-page form button:hover {
  background-color: gray;
  color: black;
}

.feed {
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
@media (max-width: 1000px) {
  .feed {
    grid-template-columns: 1fr 4fr;
  }
}

.left-bar {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-bar img {
  width: 90px;
}
@media (max-width: 1300px) {
  .left-bar img {
    width: 50px;
  }
}
.left-bar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}
@media (max-width: 1300px) {
  .left-bar nav {
    align-items: center;
  }
}
@media (max-width: 1300px) {
  .left-bar nav span {
    display: none;
  }
}
.left-bar nav a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .left-bar nav a i {
    font-size: 25px;
  }
}
.left-bar nav a:hover {
  background-color: rgba(167, 158, 158, 0.396);
}
.left-bar nav button {
  background-color: #1d9bf0;
}
@media (max-width: 1300px) {
  .left-bar nav button {
    border-radius: 50%;
  }
}
.left-bar nav button:hover {
  background-color: rgba(167, 158, 158, 0.396);
}
.left-bar .user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-bar .user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.left-bar .user-info button {
  background-color: #1d9bf0;
  color: white;
}
.left-bar .user-info button:hover {
  background-color: rgba(167, 158, 158, 0.396);
}
@media (max-width: 1300px) {
  .left-bar .user-info p {
    display: none;
  }
}

main {
  border: 2px solid rgb(101, 100, 100);
}
main header {
  border-bottom: 1px solid rgb(101, 100, 100);
}
main #post-tweet {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgb(101, 100, 100);
  padding: 10px;
}
main #post-tweet img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
main #post-tweet .input-area {
  width: 100%;
}
main #post-tweet .input-area input {
  width: 100%;
  border: none;
  background-color: black;
  outline: none;
  padding: 10px 20px;
  color: white;
}
main #post-tweet .input-area .buttons {
  display: flex;
  justify-content: end;
}
main #post-tweet .input-area .buttons button {
  border-radius: 5px;
  background-color: #1d9bf0;
  padding: 5px 10px;
  color: white;
  transition: all ease 0.3s;
}
main #post-tweet .input-area .buttons button:hover {
  background-color: rgb(101, 100, 100);
}

@media (max-width: 1000px) {
  .news {
    display: none;
  }
}

.tweet {
  padding: 20px;
  border: 2px solid red;
  display: flex;
  gap: 20px;
}
.tweet img {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=style.css.map */